@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(238, 227, 212);
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.cookie__popup-card {
  display: block;
  background: rgb(240, 240, 235);
  padding: 0.9rem;
  width: 20rem;
  height: auto;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 185%);
}
@media screen and (max-width: 400px) {
  .cookie__popup-card {
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 768px) {
  .cookie__popup-card {
    transform: translate(-50%, -50%);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.cookie__popup__text-container {
  flex: 1;
}
.cookie__popup__text-container h1 {
  font-size: 1.45rem;
  color: rgb(23, 22, 20);
}
@media screen and (min-width: 768px) {
  .cookie__popup__text-container h1 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .cookie__popup__text-container h1 {
    font-size: 1.45rem;
  }
}
.cookie__popup__text-container p {
  font-size: 0.95rem;
  color: rgba(54, 54, 54, 0.85);
}
@media screen and (min-width: 400px) {
  .cookie__popup__text-container p {
    padding-bottom: 1rem;
  }
}
.cookie__popup__text-container span {
  color: rgb(116, 198, 157);
  text-decoration: underline;
  cursor: pointer;
}

.cookie__popup-buttons {
  margin-left: 1.25rem;
}
.cookie__popup-buttons .cookie__popup-accept {
  background-color: rgb(116, 198, 157);
  border: 1.5px solid rgba(23, 22, 20, 0.85);
  padding: 0.45rem 5rem;
  cursor: pointer;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}
.cookie__popup-buttons .cookie__popup-deny {
  background-color: transparent;
  border: 1.5px solid rgba(23, 22, 20, 0.85);
  padding: 0.45rem 5.28rem;
  cursor: pointer;
  border-radius: 0.75rem;
}
@media screen and (min-width: 768px) and (max-width: 400px) {
  .cookie__popup-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.private__policy-card {
  background: rgb(240, 240, 235);
  padding: 1rem;
  width: 60rem;
  height: auto;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: none;
  animation: scale 1s;
}
@keyframes scale {
  0% {
    max-width: 60rem;
  }
  50% {
    max-width: 30rem;
  }
  100% {
    max-width: 60rem;
  }
}
@media screen and (max-width: 400px) {
  .private__policy-card {
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 20rem;
    height: auto;
  }
}

.private__policy-header {
  display: flex;
  justify-content: space-between;
}
.private__policy-header i {
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .private__policy-header i {
    font-size: 1.5rem;
  }
}
.private__policy-header h1 {
  font-size: 1.45rem;
  padding-bottom: 2rem;
  color: rgb(23, 22, 20);
}
@media screen and (max-width: 400px) {
  .private__policy-header h1 {
    font-size: 1.1rem;
  }
}

.private__policy-body p {
  font-size: 0.95rem;
  color: rgba(54, 54, 54, 0.85);
}
@media screen and (max-width: 400px) {
  .private__policy-body p {
    font-size: 0.8rem;
  }
}

.good {
  display: none;
  text-align: center;
  padding: 2rem;
  width: 15rem;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -480%);
  animation: goodSlideIn 2s;
  -webkit-animation: goodSlideIn 2s;
  background-color: rgb(116, 198, 157);
}
@keyframes goodSlideIn {
  0% {
    transform: translate(-50%, -600%);
  }
  50% {
    transform: translate(-50%, -480%);
  }
  100% {
    transform: translate(-50%, -700%);
  }
}

.bad {
  display: none;
  text-align: center;
  padding: 2rem;
  width: 15rem;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -480%);
  animation: goodSlideIn 2s;
  -webkit-animation: goodSlideIn 2s;
  background-color: #e69c9c;
}
@keyframes goodSlideIn {
  0% {
    transform: translate(-50%, -600%);
  }
  50% {
    transform: translate(-50%, -480%);
  }
  100% {
    transform: translate(-50%, -700%);
  }
}

/*# sourceMappingURL=output.css.map */
